@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat/Montserrat-Regular.ttf') format('truetype'); /* Replace 'custom-font.ttf' with the actual font file name and format. */
  /* You can also provide other font formats like woff and woff2 and their respective URLs for better browser support. */
}

body {
  background-color: whitesmoke;
  font-family: 'Montserrat';
}